.article{
    display: flex;
    margin: 2em;
    max-height: 45em;
}
.main-article{
    flex-direction: column;
}
.recent{
    flex-direction: row;
}


.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start ;
    margin: 1em;
}